<h1>Contacts#show</h1>
<p>Find me in app/views/contacts/show.html.erb</p>

<%= link_to 'Remove', @contact, method: :delete, data: { confirm: 'Are you sure?' } %>
<h1><%= @contact.Firstname %></h1>
<h4>"<%= @contact.Lastname %>"</h4>